.search-form{
  margin-top: 30px;
  
}

.search-input{
  margin-bottom: 20px;
}

body{
  text-align: center;
  height: 600px;
  background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
}

.button{
  color: white;
  background-image: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  border-color: #33ccff;
}

.button:hover {
  background-position: right center;
}

.search-input{
  border-color: #33ccff;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -10px;
}

.photo-card {
  width: calc((100% - 30px)/4);
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
}




  img{
    width: 100%;
    height: 200px;
    transition: transform 0.25s;
    object-fit: cover;
  }

  img:hover{
      transform: scale(2.0);
      
  }

.info-item {
  text-shadow: 2px 2px 5px #ff99cc;
  margin: 5px;
}

.is-hidden {
  display: none;
}

// .spinner {
//     display: inline-block;
//     width: 1rem;
//     height: 1rem;
//     vertical-align: -0.125em;
//     border: 0.2em solid currentColor;
//     border-right-color: transparent;
//     border-radius: 50%;
//     -webkit-animation: .75s linear infinite spinner-border;
//     animation: .75s linear infinite spinner-border;
// }